html, body {
  height: 100%;
  width: 100%;
}

.content-section {
  text-align: center;
  height: auto !important;
  min-height: 100%;
  overflow: hidden;
  padding-top: 91px;
  position: relative;
  background-color: white;
}

.content-section a {
  color: #e29839;

  -moz-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  -ms-transition: color 0.5s ease;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

.content-section a:hover{
  text-decoration: none;
  color: black;
}

#top {
  padding-top:  250px;
  background-size: cover;
  font-family: 'Oswald', Arial, Verdana;
}

@media (max-width: 992px) {
  #top {
    padding-top: 20px;
  }
}

#top h1 {
  font-size: 60px;
  text-transform: uppercase;
}

#top h2 {
  font-size: 20px;
}

#profile-picture {
  margin: 0 auto;
}
